{% extends 'include/base.html' %}

{% block content %}

    {% for category in categories %}

        <div class="btn-group">
            <a href="{{ category.get_absolute_url }}" class="btn btn-danger">{{ category.name }}</a>
            <button type="button" class="btn btn-danger dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                <span class="visually-hidden">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu">
                {% for sub in category.nested.all %}
                <li><a class="dropdown-item" href="{{ sub.get_absolute_url }}">{{ sub.name }}</a></li>
                {% endfor %}
            </ul>
        </div>

    {% endfor %}
    <br/><br/>
<br><br>
{% for product in products %}

    <a href="{% url 'home:detail_product' product.slug %}"> {{ product.name }} </a>
    <br>
    <img src="{{ product.image.url }}">

{% endfor %}

{% endblock content %}


